@model Grupperum_Website_Klient.Models.Home.CreateGroupModel

@{
    ViewBag.Title = "Opret Gruppe";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateGroup", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Name, null, new { placeholder = "Gruppe navn", required = "required" });

    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Til gruppe</td>
        </tr>
        @for (int i = 0; i < Model.Students.Count; i++)
        {
            @Html.Hidden("Students[" + i + "].Id", Model.Students[i].Id);
            @Html.Hidden("Students[" + i + "].Name", Model.Students[i].Id);
            <tr>
                <td>@Model.Students[i].Id</td>
                <td>@Model.Students[i].Name</td>
                <td>@Html.CheckBox("Students[" + i + "].Selected")</td>
            </tr>
        }
    </table>

    <p class="submit"><input type="submit" name="createGroup" value="Opret gruppe"></p>
}