@model Grupperum_Website_Klient.Models.Home.RentClassroomModel

@{
    ViewBag.Title = "Rent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@{List<int> antalList = new List<int>() { 1, 2, 3, 4, 5, 6, 7 };}

@using (Html.BeginForm("Rent", "Home", FormMethod.Post))
{
    <table border="1">
        <tr>
            <td>Atribut</td>
            <td>Valgt</td>
        </tr>

        <tr>
            <td>Gruppe Id</td>
            <td>@Html.TextBoxFor(m => m.GrIdStr, null, new { placeholder = "Gruppe Id", required = "required" })</td>
        </tr>

        @Html.Hidden("m.request.GrSize", Model.GrSize)
        <tr>
            <td>Antal medlemmer</td>
            <td>@Html.DropDownList("Request.GrSize", new SelectList(antalList))</td>
        </tr>

        @Html.Hidden("m.request.Whiteboard", Model.Whiteboard)
        <tr>
            <td>Whiteboard</td>
            <td>@Html.CheckBox("Request.Whiteboard")</td>
        </tr>

        @Html.Hidden("m.request.Monitor", Model.Monitor)
        <tr>
            <td>Monitor</td>
            <td>@Html.CheckBox("Request.Monitor")</td>
        </tr>

        @Html.Hidden("m.request.Projector", Model.Projector)
        <tr>
            <td>Projector</td>
            <td>@Html.CheckBox("Request.Projector")</td>
        </tr>
    </table>

    <p class="submit"><input type="submit" name="requestClassroom" value="Book klasselokale"></p>
}